*{
  padding: 0;
  margin: 0;
  text-align: start;
}

.r-nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.r-nav-btn{
  background-color: transparent;
  font-weight: 600;
  color: black;
  outline: none;
  text-transform: capitalize;
}

.r-nav-btns{
  background-color: white;
  border-radius: 2em;
  padding: 0em .5em;
  display: flex;
  gap: .5em;
}

.r-user-pic{
  border-radius: 100em;
}

.r-project-pic{
  border-radius: 1em;
}

.sort-btn{
  color: white;
}

.sort-btn-icon{
  width: 24px;
  height: 23px;
}

.results{
  display: flex;
  gap: 3em;
  background-color: #D9D9D9;
  color:  black;
  align-items: center;
  padding: 1em .5em;
  border-radius: 1.5em;
}

.results-data{
  display: flex;
  gap: .2em;
  flex-direction: column;
  align-items: flex-start;
}

.results-section{
  background-color: #D1D1D180;
  padding: 1em;
  display: flex;
  flex-direction: column;
  gap: 2em;
  border-radius: 1em;
}

.r-section-h1{
  text-align: center;
  font-weight: 700;
}